@model OoR_Site.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <br />
        @if (TempData["SenhaCadastrada"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SenhaCadastrada"]
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2><b>Noticias</b></h2>
        <hr />
        @foreach (var item in Model.noticias)
        {
            <h3>@Html.DisplayFor(model => item.titulo)</h3>
            <p>@Html.DisplayFor(model => item.descricao)</p>
            <small>- @Html.DisplayFor(model => item.Usuario.nome)</small>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2><b>Nossos Produtos</b></h2>
        <hr />
        @foreach (var item in Model.produtos)
        {
            <ul>
                <li><h4>@Html.DisplayFor(model => item.produto)</h4></li>
            </ul>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2><b>Nossos Planos de Investimento</b></h2>
        <hr />
        <table>
            <thead>
                <tr>
                    <th class="text-center">Descrição</th>
                    <th class="text-center">Valor</th>
                    <th class="text-center">Quantidade</th>
                    <th class="text-center">Invista!</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.opcoes)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.descricao)</td>
                        <td class="text-center">R$@Html.DisplayFor(model => item.valor)</td>
                        <td class="text-center">@Html.DisplayFor(model => item.quantidade)</td>
                        <td class="text-center">@Html.ActionLink("Invista", "Investir", "OpcoesInvestimento", new { id=item.Id}, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>